<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/Head') %>

    <body>
        <div class="container-scroller">
            <%- include('layouts/Navbar') %>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <%- include('layouts/Sidebar') %>
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="page-header">
                            <h3 class="page-title">
                                <span
                                    class="page-title-icon bg-gradient-primary text-white me-2"
                                >
                                    <i class="mdi mdi-history"></i>
                                </span>
                                Key Activity
                            </h3>
                        </div>
                        <div class="row text-end">
                            <div class="col grid-margin">
                                Motion Sensor
                                <a href="/pir/status" class="btn">
                                    <div class="switch">
                                        <input class="switch" type="checkbox"
                                        id="pirStatus1" <% if(pirStatus==1) {
                                        %>checked<% } %> />
                                        <span class="slider round"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            Unlock Activities
                                        </h4>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Activity</th>
                                                    <th>Card Owner</th>
                                                    <th style="width:50%">Time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i = 0; i<lock.length; i++) { %>
                                                <tr>
                                                    <td><%=i+1%></td>
                                                    <td class="py-1">
                                                        <% if(lock[i].status == false) { %>
                                                        <span
                                                            class="badge badge-danger"
                                                            >Closed</span
                                                        >
                                                        <% } else { %>
                                                        <span
                                                            class="badge badge-success"
                                                            >Unlocked</span
                                                        >
                                                        <% } %>
                                                    </td>
                                                    <td><%=lock[i].details%></td>
                                                    <td style="width:50%">
                                                        <%=lock[i].timestamp%>
                                                    </td>
                                                </tr>
                                                <%}%>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    <%- include('layouts/footer') %>

                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <%- include('layouts/Script') %>
    </body>
</html>
