<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/Head') %>

    <body>
        <div class="container-scroller">
            <%- include('layouts/Navbar') %>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <%- include('layouts/Sidebar') %>
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="page-header">
                            <h3 class="page-title">
                                <span
                                    class="page-title-icon bg-gradient-primary text-white me-2"
                                >
                                    <i class="mdi mdi-account-convert"></i>
                                </span>
                                Profile
                            </h3>
                        </div>
                        <div class="row">
                            <div class="col-md-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            Saved Profile
                                        </h4>
                                        <hr />
                                        <form
                                            class="forms-sample"
                                            action="/auth/update"
                                            method="POST"
                                        >
                                            <div class="form-group">
                                                <label
                                                    for="exampleInputUsername1"
                                                    >Username</label
                                                >
                                                <input
                                                    type="text"
                                                    class="form-control"
                                                    id="username"
                                                    name="username"
                                                    placeholder="Username"
                                                    value="<%=username%>"
                                                />
                                            </div>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1"
                                                    >Old Password</label
                                                >
                                                <input
                                                    type="password"
                                                    class="form-control"
                                                    id="password"
                                                    name="password"
                                                    placeholder="Password"
                                                    required
                                                />
                                            </div>
                                            <div class="form-group">
                                                <label
                                                    for="exampleInputPassword1"
                                                    >New Password</label
                                                >
                                                <input
                                                    type="password"
                                                    class="form-control"
                                                    id="newPassword"
                                                    name="newPassword"
                                                    placeholder="Input New Password"
                                                />
                                            </div>
                                            <div class="form-group">
                                                <label
                                                    for="exampleInputConfirmPassword1"
                                                    >Confirm New Password</label
                                                >
                                                <input
                                                    type="password"
                                                    class="form-control"
                                                    id="confirmNewPassowrd"
                                                    name="confirmNewPassowrd"
                                                    placeholder="Confirm New Password"
                                                />
                                            </div>
                                            <button
                                                type="submit"
                                                class="btn btn-gradient-primary me-2"
                                            >
                                                Update
                                            </button>
                                            <button class="btn btn-light">
                                                Cancel
                                            </button>
                                        </form>
                                        <% if(typeof locals.messages !=
                                        'undefined'){ %>
                                        <div
                                            class="col-12 grid-margin stretch-card mt-2"
                                        >
                                            <div
                                                class="card alert alert-dismissible fade show text-center bg-<%=messages.status%> text-light"
                                                role="alert"
                                            >
                                                <strong
                                                    ><%=messages.msg%></strong
                                                >
                                                <button
                                                    type="button"
                                                    class="btn-close"
                                                    data-bs-dismiss="alert"
                                                    aria-label="Close"
                                                ></button>
                                            </div>
                                        </div>
                                        <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    <%- include('layouts/footer') %>

                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <%- include('layouts/Script') %>
    </body>
</html>
