<!DOCTYPE html>
<html lang="en">
    <%- include('layouts/Head') %>

    <body>
        <div class="container-scroller">
            <%- include('layouts/Navbar') %>
            <!-- partial -->
            <div class="container-fluid page-body-wrapper">
                <%- include('layouts/Sidebar') %>
                <!-- partial -->
                <div class="main-panel">
                    <div class="content-wrapper">
                        <div class="page-header">
                            <h3 class="page-title">
                                <span
                                    class="page-title-icon bg-gradient-primary text-white me-2"
                                >
                                    <i class="mdi mdi-nfc"></i>
                                </span>
                                RFID Lists
                            </h3>
                        </div>
                        <div class="row text-end">
                            <div class="col grid-margin">
                                Motion Sensor
                                <a href="/pir/status" class="btn">
                                    <div class="switch">
                                        <input class="switch" type="checkbox"
                                        id="pirStatus1" <% if(pirStatus==1) {
                                        %>checked<% } %> />
                                        <span class="slider round"></span>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <!-- if message not null -->
                            <% if(typeof locals.messages != 'undefined'){ %>
                            <div class="col-12 grid-margin stretch-card">
                                <div class="card alert alert-dismissible fade show text-center bg-<%=messages.status%> text-light" role="alert">
                                        <strong><%=messages.msg%></strong> 
                                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            </div>
                            <% } %>
                            <div class="col-lg-12 grid-margin stretch-card">
                                <div class="card">
                                    <div class="card-body">
                                        <table class="table">
                                            <tr>
                                                <td>
                                                    <h4 class="card-title">Registered RFIDs</h4>
                                                </td>
                                                <td class="text-end px-5">
                                                    <!-- Button trigger modal -->
                                                    <a href="/rfid" class="btn btn-gradient ms-5 ps-5" >
                                                        <i class="mdi mdi-sync btn-icon-prepend"></i></>
                                                    </a>
                                                    <button type="button" class="btn btn-gradient-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                                                        <i class="mdi mdi-database-plus btn-icon-prepend"></i> Register New RFID </button>
                                                    </button>

                                                    <!-- Modal -->
                                                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="exampleModalLabel">Insert RFID Name</h5>
                                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <form action="/rfid/" method="POST">
                                                                <div class="mb-3">
                                                                    <label for="owner" class="form-label">RFID Name</label>
                                                                    <input name="name" type="text" class="form-control" id="Insert Name" placeholder="Insert Name" required>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                                    <button type="submit" class="btn btn-primary">Save</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                        
                                                        </div>
                                                    </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        </table>
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>IDs</th>
                                                    <th>Registered At</th>
                                                    <th>Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(var i=0; i<rfid.length; i++){ %>
                                                <tr>
                                                    <td>
                                                        <a href="/rfid/delete/<%= rfid[i]._id %>" class="btn-danger btn-sm btn-icon">
                                                            <i class="mdi mdi-delete-forever"></i>
                                                        </a>
                                                    </td>
                                                    <td><%= rfid[i].id %></td>
                                                    <td><%= rfid[i].timestamp %></td>
                                                    <td>
                                                        <h6
                                                            class="badge badge-success"
                                                            >
                                                            <%= rfid[i].name %>
                                                        </h6
                                                        >
                                                    </td>
                                                </tr>
                                                <% } %>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- content-wrapper ends -->
                    <!-- partial:partials/_footer.html -->
                    <%- include('layouts/footer') %>
                    
                    <!-- partial -->
                </div>
                <!-- main-panel ends -->
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
        <%- include('layouts/Script') %>
    </body>
</html>
